.reservation-title{
    color: var(--pink-rose);
    font-family: var(--unquiet);
    font-size: 70px;
    font-weight: 400;
    margin: 30px;
}
.reservation-rooms-search-title{
    color: var(--purple-deep);
    font-weight: 500;
    font-size: 40px;
    margin: 30px 0px -10px 400px;
}
.confirm-reservation-window .modal-block{
    max-height: 95vh;
}
.confirm-reservation-window .modal-block h2{
    color: var(--pink-rose);
    font-family: var(--izvod);
    font-size: 30px;
    font-weight: 500;
}
.confirm-reservation-window .modal-block span{
    color: var(--purple-deep);
}