* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;          
}

@font-face {  
    font-family: 'Unquiet';  
    src: url('./fonts/unquietspiritsrusbylyajka.otf') format('opentype');  
}

@font-face {  
    font-family: 'Izvod';  
    src: url('./fonts/Izvod.otf') format('opentype');  
}

@font-face {  
    font-family: 'Actor';  
    src: url('./fonts/Actor.ttf') format('opentype');  
}

:root {
    --purple-deep: #6A4163;
    --pink-rose: #D46A92; 
    --pink-soft: #F39DB6;   
    --pink-peach: #F6D2D6; 
    --white-creamy: #FEFAF9;
    --error: rgb(235, 120, 120);
    --izvod: 'Izvod';
    --unquiet: 'Unquiet';
    --actor: 'Actor';
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: var(--izvod);
    background-color: var(--white-creamy);
}
.errors{
    color: var(--error);
    font-size: 20px;
    font-family: var(--izvod);
}